<div ng-show="!showloading">
<div class="page-header">
	<h3>All Blogs</h3>
</div>
<div ng-controller="BlogController">
	<div ng-show="!showaddblog" 
		ng-repeat="blog in blogs | filter:searchFor">
		<div class="panel panel-primary" style="width: 90%">
			<div class="panel-heading">
				<div style="float: right">{{blog.tag}}</div>
				{{blog.blogName}}
			</div>
				<blockquote>
					<p>{{blog.content}}</p>
					<footer>{{blog.userName}}</footer>
					
				</blockquote>
		</div>
	</div>
	<div style="clear: left"></div>
	<div style="clear: left"></div>
	<button ng-show="!showaddblog" class="btn btn-primary"
		ng-click="showaddblog = true">Add Blog</button>

	<form name="addblogForm">
		<div ng-show="showaddblog" class="well well-lg" style="width: 90%">

			<div class="form-group">
				<label for="title">Title</label> <input type="text"
					ng-model="blog.blogName" class="form-control" ng-minlength="5" 
					placeholder="Title...">
			</div>
			<div class="form-group">
				<label for="Tags">Tags</label> 
				<input type="text" ng-minlength="5" 
					ng-model="blog.tag" class="form-control" placeholder="tags..." />
			</div>
			<div class="form-group">
				<label for="Description">Description</label>
				<textarea class="form-control" rows="5" ng-model="blog.content" ng-minlength="5" 
					placeholder="Description..."></textarea>
			</div>
			<button ng-click="addBlog(blog)" ng-init="showBlogAddSuccess=false" class="btn btn-primary">Add</button>
			<button ng-click="showaddblog = false" class="btn btn-primary">Cancel</button>
			<div class="alert alert-danger alert-dismissible"
				ng-show="showBlogAddError" role="alert"
				ng-init="showBlogAddError = false">{{blog_add_error}}</div>
			<div class="alert alert-success alert-dismissible"
				ng-show="showBlogAddSuccess" role="alert"
				ng-init="showBlogAddSuccess=false">{{blog_add_success}}</div>
		</div>
	</form>
</div>
</div>