<div ng-controller="SearchController" ng-show="!showloading">
	<div class="form-group has-feedback">
		<span class="glyphicon glyphicon-search form-control-feedback"></span>
	    <input type="text" class="form-control" id="inputSuccess2" placeholder="Search blogs..." ng-model="tags"/>
				<br>
		<button ng-click="searchBlog(tags)" class="btn btn-primary" style="float:right">Search</button>
	</div>
	<div class="page-header" ng-show="no_result_found" ng-init="no_result_found = false">
			<h3>No result Found.</h3>
		</div>
	<div ng-show="searchblogsresults" ng-repeat="blog in blogs | filter:searchFor">
		<div class="panel panel-primary" style="width: 90%">
			<div class="panel-heading">
				<div style="float: right">{{blog.tag}}</div>
				{{blog.blogName}}
			</div>
			<blockquote>
				<p>{{blog.content}}</p>
				<footer>{{blog.userName}}</footer>
			</blockquote>
		</div>
	</div>
</div>