<div ng-show="!showloading">

	<div ng-controller="UserController"  ng-init="showAddUserForm = false">
		<div class="page-header" ng-show="!showAddUserForm">
			<h3>All Users</h3>
		</div>
			<div ng-show="!showAddUserForm" class="user panel panel-primary" ng-repeat="user in users | filter:searchFor">
		<div class="panel-heading">
			{{ user.userName }}
		</div>
		<div class="panel-body">
		<b>{{ user.fullName }}</b>
		{{ user.emailId }}
		</div>
	</div>
	
	  <div style="clear: left"></div>
	<br>

		<button ng-show="!showAddUserForm" class="btn btn-primary" ng-click="showAddUserForm = true">Add User</button>
		<div class="well" ng-show="showAddUserForm">
			<form name="userForm">
				<div class="form-group">
					<label for="name">User Name</label> <input type="text"
						ng-model="user.userName" class="form-control"
						placeholder="Enter User Name">
				</div>
				<div class="form-group">
					<label for="name">Name</label> <input type="text"
						ng-model="user.fullName" class="form-control"
						placeholder="Enter Full Name">
				</div>
				<div class="form-group">
					<label for="Email ID">Email ID</label> <input type="email"
						ng-model="user.emailId" class="form-control"
						placeholder="Enter email id" />
				</div>
				<div class="form-group">
					<label for="passord">Password</label> <input type="password"
						ng-model="user.password" class="form-control"
						placeholder="Enter password" />
				</div>
				<button ng-click="addUser(user)" class="btn btn-primary" >Add</button>
				<button value="Update" ng-show="showEditForm"
					ng-click="updateUser(user)">Update</button>
				<button ng-click="showAddUserForm = false" class="btn btn-primary">Cancel</button>
			</form>
		</div>
	</div>
</div>